body {
    background-color: #F9FAFC;
    max-width: 125rem;
    margin: 0 auto;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.jumbotron {
    background-image: url("https://res.cloudinary.com/cloudebr/image/upload/v1632744142/static/media/images/jumbotron_background_ldwqfi.jpg");
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 25%;
}

.light-bg {
    background-color: #fff;
}

.footer-bg {
    background-color: #cae1f1;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: 2%;
    border-radius: 1.5rem;
}

.image-bkgd-easy {
    background-color: #6abd51;
}

.image-bkgd-mod {
    background-color: #f09348;
}

.image-bkgd-hard {
    background-color: #b13333;
}

.difficulty {
    color: white;
    margin: 0.25rem;
    text-transform: uppercase;
    text-align: center;
}

.masthead {
    margin-top: 0.625rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: white;
    color: black;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image img {
    width: 100%
}

.masthead-flash {
    position: absolute;
    top: 5%;
    min-width: 30%;
    left: 2%;
    border-radius: 1.56rem;
}

.hike-title {
    margin-top: .5rem;
}

.hike-link {
    text-decoration: none;
    color: #445261;
}

.hike-link:hover,
.page-link {
    color: #E84610;
}

.hike-detail-title {
    margin-top: 5rem;
    margin-left: 5%;
}

.hike-subitem {
    margin-left: 5%;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.welcome-text {
    letter-spacing: 0.25rem;
    padding: 1rem 0.5rem;
    background-color: rgba(240, 158, 82, 0.6);
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 10%;
}

.quote-text {
    font-style: italic;
    color: black;
}

.social-networks i {
    font-size: 200%;
    margin: 0.5rem;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.navbar {
    padding: 1rem;
}

.auth-card {
    border: 0;
    border-radius: 1.71rem;
    box-shadow: 0 0.625rem 1.875rem 0 rgb(172 168 168 / 43%);
    overflow: hidden;
    padding: 2rem;
}

.auth-container {
    margin-top: 3rem;
}

.form-group {
    margin-bottom: 1rem;
}

.auth-card form {
    max-width: 18.75rem;
}

.btn-form {
    padding: 0.8125rem 1.25rem 0.75rem;
    background-color: #000;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #fff;
    margin-bottom: 1.5rem;
    width: 100%;
}

.btn-form:hover {
    color: rgb(177, 177, 177);
}

.full-background {
    background-image: url("https://res.cloudinary.com/cloudebr/image/upload/v1632744148/static/media/images/auth_background_kkxmad.jpg");
    background-size: 125rem;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link.active {
    font-weight: 500;
}

.nav-link:hover
{
    color: #191b1d;
    font-weight: bold;
}

.comment-form {
    margin-top: 1.3em;
}

.comments {
    padding: 0.625rem;
}

.booking-panel {
    border: 0;
    border-radius: 1.72rem;
    box-shadow: 0 0.125rem 0.375rem 0 rgb(172 168 168 / 43%);
    overflow: hidden;
    padding: 2rem;
    margin: 1rem;
}

.btn-book {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.hiker-select {
    width: auto;
}

.booking-img {
    border-radius: 1.25rem;
    padding: 0.3125rem;
    max-width: 11.25rem;
}

.booking-img:hover {
    box-shadow: 0 0 0.125rem 0.0625rem rgba(0, 140, 186, 0.5);
}

.booking-card {
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.875rem 0 rgb(172 168 168 / 43%);
    overflow: hidden;
    padding: .5rem;
    margin: 0 auto 2rem;
    max-width: 56.25rem;
}

.booking-title {
    padding: 0.75rem;
}

.booking-summary {
    min-width: 16.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.booking-icons {
    margin-bottom: 1rem;
}

/* For small screen sizes keep likes and comment nums on a single row */
@media screen and (max-width: 600px) {
    .xs-col-width {
        width: auto;
    }
}