{% extends 'base.html' %}
{% block body_class %}{ }{% endblock %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-block col-lg-8 masthead-image">
                <!-- display default hike image if a featured image is not available -->
                {% if "placeholder" in hike.featured_image.url %}
                <img src="{% static 'images/default_hike_pic.jpg' %}" alt="Default hiking image">
                {% else %}
                <img src="{{ hike.featured_image.url }}">
                {% endif %}
            </div>
            <div class="col-lg-4 masthead-text">
                <!-- Hike title goes in these h1 tags -->
                <h1 class="hike-detail-title">{{ hike.title }} </h1>
                <!-- Hike difficulty rating and hike details created date  -->
                <p class="hike-subitem">
                    Distance : {{ hike.distance_km.normalize }} kms<br>
                    Estimate Duration : {{ hike.est_duration_hrs.normalize }} hours
                </p>
                {% if hike.difficulty == 0 %}
                <div class="masthead-flash image-bkgd-easy">
                    <p class="difficulty">Easy</p>
                </div>
                {% elif hike.difficulty == 1 %}
                <div class="masthead-flash image-bkgd-mod">
                    <p class="difficulty">Moderate</p>
                </div>
                {% elif hike.difficulty == 2 %}
                <div class="masthead-flash image-bkgd-hard">
                    <p class="difficulty">Hard</p>
                </div>
                {% endif %}

                {% if user.is_authenticated %}
                <div class="hike-subitem booking-panel">
                    <form action="{% url 'hike_book' hike.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="scheduleFormControlSelect">Scheduled Hikes</label>
                            <select class="form-select" id="scheduleFormControlSelect" name="sched_id">
                                {% for hike in scheduled_hikes %}
                                <option value={{ hike.id }}>{{ hike.starts }}</option>
                                {% endfor %}
                            </select><br>
                            <label class="form-label" for="typeNumber" >Number of hikers</label>
                            <select class="form-select hiker-select" id="HikersFormControlSelect" name="places_reserved">
                                {% for x in "12345"|make_list %}
                                <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-block btn-form btn-book" {% if scheduled_hikes|length == 0 %} disabled {% endif %} >Book</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The hike content/description goes inside the card-text.  -->
                <!--  this content can only be added by admin so can be codsidered 'safe' -->
                <p class="card-text "> {{ hike.content | safe }}
                    Details Created : {{hike.created_on }} <br>
                    Last Updated : {{hike.updated_on }} <br>
                </p>

                <div class="row">
                    <div class="col-sm-2 col-lg-1 xs-col-width">
                        <!-- show the number of likes and allow authenticated used to use like button -->
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'hike_like' hike.slug %}" method="POST">
                                {% csrf_token %}

                                {% if liked %}
                                <button type="submit" name="hike_id" value="{{hike.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>

                                {% else %}
                                <button type="submit" name="hike_id" value="{{hike.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>

                                {% endif %}
                            </form>

                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>

                            {% endif %}
                            <span class="text-secondary"> {{ hike.number_of_likes }} </span>
                        </strong>
                    </div>

                    <div class="col-sm-2 col-lg-1 xs-col-width">
                        <!-- show the number of comments -->
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- loop to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments">
                    <p class="font-weight-bold">
                        <!-- display commenter's name and when comment was created  -->
                        {{  comment.username }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment with formatting -->
                    {{  comment.message | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- allow user to add comments if logged in  -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="comment-form">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-block btn-form mb-4">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}