{% extends 'base.html' %}
{% block body_class %}{ }{% endblock %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row booking-title">
        <h3>Your upcoming hikes</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                {% for booking in bookings %}
                <div class="booking-details booking-card">
                    <div class="row">
                        <div class="col-auto">
                            <a href="{% url 'hike_detail' booking.hike.hike.slug %}" class="hike-link">
                                <div class="col-auto">
                                    {% if "placeholder" in booking.hike.hike.featured_image.url %}
                                    <img src="{% static 'images/default_hike_pic.jpg' %}" alt="Default hiking image" class="booking-img">
                                    {% else %}
                                    <img src="{{ booking.hike.hike.featured_image.url }}" class="booking-img">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="col booking-summary">
                            <div class="row">
                                <a href="{% url 'hike_detail' booking.hike.hike.slug %}" class="hike-link">
                                    <h4>{{ booking.hike.hike }}</h4>
                                </a>
                                <p >
                                    Start time : {{ booking.hike.starts }}<br>
                                    Meeting point : {{ booking.hike.meeting_point }}
                                </p>
                            </div>
                            <div class="row booking-icons">
                                <div class="col-auto">
                                    {% if booking.places_reserved == 1 %}
                                    <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                    {{ booking.places_reserved }}</p>
                                    {% else %}
                                    <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                        {{ booking.places_reserved }}</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if booking.approved %}
                                    <p class="card-text text-muted h6"><i class="fas fa-check-circle"></i>
                                        Confirmed</p>
                                    {% else %}
                                    <p class="card-text text-muted h6"><i class="fas fa-question-circle"></i>
                                        Awaiting Confirmation</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <form action="{% url 'hike_mybookings' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-block btn-form mb-1" value="{{booking.id}}" name="cancel_booking_id" onclick="return confirm('Are you sure?')">Cancel Booking</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% empty %} 
                You currently have no booking requests
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}